/**
 * Screen stype configuration
 */
@screen-padding: 10px;
@screen-bg-color: black;
@screen-font-color: #44D544;
@screen-font-family: @font-family-monospace;
@screen-font-size: @font-size-small;

/**
 * Terminal stype configuration
 */
@terminal-bg-color: @screen-bg-color;
@terminal-font-color: @screen-font-color;
@terminal-font-family: @font-family-monospace;
@terminal-font-size: @font-size-small;