/**
 * console styles configuration
 */
@console-padding: 10px;
@console-bg-color: black;
@console-font-color: #44D544;
@console-font-family: @font-family-monospace;
@console-font-size: @font-size-small;